<!--
    该界面为首页，进行所有数据的展示
!-->
{% extends 'base.html' %}
{% block content %}
    <table align="center">
        <thead>
            <tr>
                <th>序号</th>
                <th>作者</th>
                <th>书名</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for foo in book %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'detail' book_id=foo.id %}">{{ foo.author }}</a></td>
                    <td><a href="">{{ foo.name }}</a></td>
                    <td><a href="{% url 'edit' book_id=foo.id %}">更新数据</a></td>
                    <style type="text/css">a{text-decoration: none}</style>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}